/* Resize profile picture */

.sidebar .introduction-title .title img {
        width: 418px;
        height: 626px; 
    }

.sidebar .introduction-title .title img {
    width: 418px;
    height: 626px;
  
}
